.faqCardHeader{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faqCard{
    margin-top: 32px;
    margin-bottom: 32px;
}

.faqCard h1{
    font-size: 20px;
    margin-bottom: 24px;
}