.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;



  min-height: 100svh;
  font-family: var(--font-roboto);
  background-color: #f9f5f2;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.logo{
  display: flex;
  align-items: center;
}

.menu ul{
  display: flex;
  gap: 24px;
  list-style: none;
}

.header h1{
  font-size: 20px;
}