.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;



  min-height: 100svh;
  font-family: var(--font-roboto);
  background-color: #f9f5f2;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 600px) {
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.logo{
  display: flex;
  align-items: center;
}

.menu ul{
  display: flex;
  gap: 24px;
  list-style: none;
}

.header h1{
  font-size: 20px;
}

.hero{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.heroLeft{
  width: 50%;
}

.heroLeft h1{
  font-size: 56px;
}

.heroLeft h3{
  margin-bottom: 8px;
}

.heroLeft p{
  margin-top: 20px;
  margin-bottom: 20px;
  /* max-width: 80%; */
}

.heroRight{
  position: relative;
  width: 500px;
  height: 500px;
}

.heroButtons{
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.whoIsCxmputeFor{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.whoIsCxmputeForCards{
  display: flex;
  gap: 24px;
  padding: 32px;
  padding-top: 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.whoIsCxmputeForCardImage{
  width: 100px;
  height: 100px;
  position: relative;
  border: 6px solid #000;
  border-radius: 10px;
  margin-bottom: 24px;
}

.imageWrapper{
  margin: 5px;
  position: relative;
  height: 80px;
  width: 80px;
}


.whoIsCxmputeForCard {
  width: 300px;
  padding: 20px;
  background: #fff;
  border: 6px solid #000;
  box-shadow: 12px 12px 0 #000;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.whoIsCxmputeForCard:hover {
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 #000;
}

.whoIsCxmputeForCard__title {
  font-size: 32px;
  font-weight: 900;
  color: #000;
  /* text-transform: uppercase; */
  margin-bottom: 15px;
  display: block;
  position: relative;
  overflow: hidden;
}

.whoIsCxmputeForCard__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.whoIsCxmputeForCard:hover .whoIsCxmputeForCard__title::after {
  transform: translateX(0);
}

.whoIsCxmputeForCard__content {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  margin-bottom: 20px;
}

.whoIsCxmputeForCard__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.whoIsCxmputeForCard__form input {
  padding: 10px;
  border: 3px solid #000;
  font-size: 16px;
  font-family: inherit;
  transition: transform 0.3s;
  width: calc(100% - 26px); /* Adjust for padding and border */
}

.whoIsCxmputeForCard__form input:focus {
  outline: none;
  transform: scale(1.05);
  background-color: #000;
  color: #ffffff;
}

.whoIsCxmputeForCard__button {
  border: 3px solid #000;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  left: 20%;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  width: 50%;
  height: auto;
}

.whoIsCxmputeForCard__button::before {
  content: "SELECT";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background-color: var(--select-bg-color, #20a191);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.whoIsCxmputeForCard__button:hover::before {
  transform: translateY(0);
}

.whoIsCxmputeForCard__button:active {
  transform: scale(0.95);
}

@keyframes glitch {
  0% {
    transform: translate(2px, 2px);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(-2px, 2px);
  }
  75% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}

.glitch {
  animation: glitch 0.3s infinite;
}



/* 320px, 480px, 768px, 992px, 1200px */